<!DOCTYPE HTML>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CDN Sources -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <!-- Local sources -->
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<nav th:fragment="nav" class="col-12 h-100 d-flex flex-row justify-content-start align-items-center">
    <div class="menu-item">
        <span class="menu-lbl">Filmek</span>
        <div class="sub-menu visibility-animated">
            <div class="sub-link" data-href="/film">
                <span class="menu-lbl">Filmek listázása</span>
            </div>
            <div class="sub-link" data-href="/film/new">
                <span class="menu-lbl">Új film hozzáadása</span>
            </div>
        </div>
    </div>
    <div class="menu-item">
        <span class="menu-lbl">Stúdiók</span>
        <div class="sub-menu visibility-animated">
            <div class="sub-link" data-href="/studio">
                <span class="menu-lbl">Stúdiók listázása</span>
            </div>
            <div class="sub-link" data-href="/studio/new">
                <span class="menu-lbl">Új stúdió hozzáadása</span>
            </div>
        </div>
    </div>
</nav>
<footer th:fragment="footer">

</footer>
</html>