<!DOCTYPE HTML>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/common.html :: head">
    <title>Főoldal</title>
</head>
<body>
<div id="main">
    <header>
        <nav th:replace="fragments/common.html :: nav"></nav>
    </header>
    <div id="wrapper" class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-12 offset-xl-4 offset-lg-4">
                <form action="#" th:action="@{'/film/' + ${film.id}}" th:object="${film}" method="post">
                    <div class="form-group">
                        <label for="id">Id</label>
                        <input type="number" class="form-control" th:field="*{id}" id="id" placeholder="Id" disabled>
                    </div>

                    <!-- <div class="form-group">
                         <label for="studio">Film stúdió</label>
                         <select th:field="${film.studio.id}" id="studio" class="form-control">
                             <option th:each="studio : ${studios}"
                                     th:value="${studio.id}"
                                     th:text="${studio.name}">
                             </option>
                         </select>
                     </div> -->

                    <div class="form-group">
                        <label for="name">Film neve</label>
                        <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Név" required>
                    </div>

                    <div class="form-group">
                        <label for="releaseDate">Kiadás dátuma</label>
                        <input type="date" class="form-control" th:field="*{releaseDate}" id="releaseDate" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/common.html :: footer">
    </footer>
</div>
</body>
</html>