:root {
    --header-footer-background: #343434;
    --header-item-hover-background: #4b4b4b;
}

html, body {
    font-family: "Roboto";
}

header {
    height: 65px;
    background-color: var(--header-footer-background);
    color: white;
}

nav {

}

nav > .menu-item {
    width: 125px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

nav > .menu-item > .sub-menu {
    position: absolute;
    visibility: hidden;
    top: 65px;
    background-color: var(--header-footer-background);
    cursor: pointer;
}

nav > .menu-item > .sub-menu > .sub-link {
    padding: 15px;
}

nav > .menu-item > .sub-menu > .sub-link:hover {
    background-color: var(--header-item-hover-background);
}

.visibility-animated {
    transition: visibility 200ms ease-in-out;
}

footer {
    background-color: var(--header-footer-background);
    color: white;
    height: 100px;
}

.item-visible {
    visibility: visible !important;
}