<!DOCTYPE HTML>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/common.html :: head">
    <title>Filmek</title>
</head>
<body>
<div id="main">
    <header>
        <nav th:replace="fragments/common.html :: nav"></nav>
    </header>
    <div id="wrapper" class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-lg-8 offset-xl-2 offset-lg-2 col-12">
                <table class="table mt-0 mt-xl-4 mt-lg-4">
                    <thead class="thead-dark" th:if="${!films.empty}">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Név</th>
                        <th scope="col">Kiadás dátuma</th>
                        <th scope="col">Törlés</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${films.empty}">
                        <td colspan="4">Nincsenek filmek az adatbázisban!</td>
                    </tr>
                    <tr th:each="film : ${films}">
                        <td th:text="${film.id}"></td>
                        <td><a th:href="@{'/film/' + ${film.id}}" th:text="${film.name}"></a></td>
                        <td th:text="${film.releaseDate}"></td>
                        <td><a th:href="@{'/film/' + ${film.id} + '/delete'}"><i class="fa fa-trash"
                                                                                 style="color:#009933; text-align: center;"
                                                                                 aria-hidden="true"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/common.html :: footer">
    </footer>
</div>
</body>
</html>